
@media only screen and (max-width:1366px) {

span {
 
    font-size: 20px;
}	
	
	
#slikakafe {
   
	width: 670px;
	}	
	
   input#inp {
    color: #000!important;
    width: 350px!important;
}


textarea#txtarea {
    color: #000!important;
    width: 350px!important;
}

}



@media only screen and (max-width:1360px) {

span {
 
    font-size: 20px;
}	
	
	
#slikakafe {
   
	width: 670px;
	}	
	
   input#inp {
    color: #000!important;
    width: 350px!important;
}


textarea#txtarea {
    color: #000!important;
    width: 350px!important;
}

}






@media only screen and (max-width:1280px) {

span {
 
    font-size: 17px;
}	
	
	
#slikakafe {
   
	width: 630px;
	}	
	
   input#inp {
    color: #000!important;
    width: 300px!important;
}


textarea#txtarea {
    color: #000!important;
    width: 300px!important;
}

}


@media only screen and (max-width:768px) {
    input#inp {
    color: #000!important;
    width: 160px!important;
}


textarea#txtarea {
    color: #000!important;
    width: 160px!important;
}


div#broj {

    font-size: 15px!important;
}



div#menu {    
    width: 240px!important;
   
}


div#menu3 {  
    width: 229px!important;
  
	
}


div#menu4 {   
    width: 219px!important;
   
}



div#menu5 {
   
    width: 240px!important;
  
}



div#menu6 {
  
    width: 229px!important;

}


div#menu7 {
   
    width: 219px!important;
   
}




#slikakafe {
    background-repeat: no-repeat!important;

    width: 400px!important;
    height: 200px!important;
    background-size: 100% 100% !important;
    background-position: -60px;
  
    margin-top: 80px!important;
    margin-left: 20px!important;
}



img#menucapucino {
    display: none!important;
}
img#menucapucino3 {
    display: none!important;
}
img#menucapucino4 {
    display: none!important;
}
img#milkshake {
    display: none!important;
}


img#menucapucino5 {
	
	display:none;
}

img#menucapucino6 {
   display:none;
}

p#cena {
   
font-size: 2em!important;
}


#slikakafe1 {

    width: 480px!important;
height: 280px!important;
}


#slikakafe2 {

    width: 480px!important;
height: 280px!important;
}


#slikakafe3 {

    width: 480px!important;
height: 280px!important;
}

#slikakafe4 {

    width: 480px!important;
height: 280px!important;
}


#slikakafe5 {

    width: 480px!important;
height: 280px!important;
}

#slikakafe6 {

    width: 480px!important;
height: 280px!important;
}




}

@media only screen and (max-width:414px) {

input#inp {
margin-top: 10px;
height:40px!important  ;}


textarea#txtarea {
  margin-top: 10px; 
height: 140px;

}

p#followus {
	
	display:none!important;
	
}

p#followusinst
{
	
	display:none!important;
	
}

span {
    color: #fff;
    font-size: 20px !important;
}

div#rowfollow {
    text-align: center;
    margin-top: 20px!important;
    margin-bottom: 40px!important;
}

#slikakafe {

    width: 500px!important;
height: 300px!important;
}


p#cena {
   
font-size: 2em!important;
}

}
