div#broj a {
	color: #fff!important;
	font-size:23px;
	text-decoration:none;
}

.container {
    background-color: #000000b8;
    background-blend-mode: multiply;
    background-image: url("imgs/CAFE.png");
    width:100%;
    background-size: 100% 100% !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset;
}	

textarea:focus, input:focus{
    outline: none;
}

@keyframes shadow{

50%{

text-shadow:1px 1px 20px #fff
}

100%{

text-shadow: 1px 1px 10px #fff;
}

}

#caffetitle {
transition:500ms ease-in;
text-shadow: 1px 1px 0px #ccc;
animation:shadow infinite 1300ms;
    color: #fff;
    font-size: 85px;
    font-family: -webkit-pictograph;
    border: 10px solid #fff;
    text-align: center;
}

p#cena {

font-family: -webkit-pictograph;
    font-size: 50px;
    color: #fff;
}



@keyframes krug {

100%{

    transform: rotateY(720deg);
	opacity:1;
}

}


#slikakafe1 {

    background-image: url(imgs/capucchinomainimage.png);
    width: 500px;
    height: 300px;
    background-size: 100% 100% !important;
	transform: rotateY(0deg);
	animation:krug 800ms forwards;
}



#slikakafe2 {transform: rotateY(0deg);
	animation:krug 800ms forwards;
    background-image: url("imgs/caffelatte.png");
    width: 500px;
    height: 300px;
    background-size: 100% 100% !important;
}



#slikakafe3 {transform: rotateY(0deg);
	animation:krug 800ms forwards;
    background-image: url("imgs/milkshakemain.png");
    width: 500px;
    height: 300px;
    background-size: 100% 100% !important;
}


#slikakafe4 {transform: rotateY(0deg);
	animation:krug 800ms forwards;
    background-image: url("imgs/nescaffe.png");
    width: 500px;
    height: 300px;
    background-size: 100% 100% !important;
}


#slikakafe5 {transform: rotateY(0deg);
	animation:krug 800ms forwards;
    background-image: url("imgs/bigsmallcoffe.png");
    width: 500px;
    height: 300px;
    background-size: 100% 100% !important;
}


#slikakafe6 {transform: rotateY(0deg);
	animation:krug 800ms forwards;
    background-image: url("imgs/bigsmallcoffe.png");
    width: 500px;
    height: 300px;
    background-size: 100% 100% !important;
}



p#cena {
    margin-top: 60px;
    margin-left: 130px;
    text-align: center;
    font-family: -webkit-pictograph;
    font-size: 3em;
    color: #fff;
    border: 2px solid #fff;
    padding: 1px;
    width: 25%;
	font-weight:bold;
}

h1#title {
font-size: 3.6em;
    color: #fff;
    font-family: -webkit-pictograph;
}



p#text {
    color: #fff;
    font-family: -webkit-pictograph;
}


div#caffelatte {
transition:200ms ease-in;
    display: none;
}


div#kapucino {
transition:200ms ease-in;
    display: none;
}

div#mojtim {
transition:200ms ease-in;
    display: none;
}



div#smallcaffe {
transition:200ms ease-in;
    display: none;
}


div#milkshake {
transition:200ms ease-in;
    display: none;
}


div#bigcaffe {
transition:200ms ease-in;
    display: none;
}


div#caffechocolade {
transition:200ms ease-in;
    display: none;
}





@keyframes ime{

100%{

transform:scale(1);
opacity:1;
	    background-position: -100px;
}


}


#slikakafe {
animation: ime forwards 2s;
    background-image: url(imgs/Ime.png);
    width: 500px;
    height: 300px;
    background-size: 100% 100% !important;
	    background-position: -100px;
		transform:scale(0);
opacity:0;
}

h1#caffetitle p {
    display: inline;
}



div#menu {    float: right;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    border-radius: 96px 72px 48px 24px/0px 0px 0px 99px;
    width: 260px;
    margin-top: 100px;
}


div#menu3 {    float: right;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    border-radius: 96px 72px 48px 24px/0px 0px 0px 99px;
    width: 249px;
    margin-top: 20px;
	
}


div#menu4 {    float: right;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    border-radius: 96px 72px 48px 24px/0px 0px 0px 99px;
    width: 239px;
    margin-top: 20px;
}






div#menu5 {
    float: left;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    border-radius: 96px 72px 48px 24px/0px 0px 99px 0px;
    width: 260px;
    margin-top: 100px;
}



div#menu6 {
    float: left;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    width: 249px;
    margin-top: 20px;
	border-radius: 96px 72px 48px 24px/0px 0px 99px 0px;
}


div#menu7 {
    float: left;
    border: 2px solid #fff;
    padding: 10px;
    color: #fff;
    border-radius: 96px 72px 48px 24px/0px 0px 99px 0px;
    width: 239px;
    margin-top: 20px;
}






div#menu:not(:hover) { 
transition:200ms ease-in;
transform:scale(1);
} 

div#menu:hover { 
    background: #ffffff1f;
cursor:pointer;
transition:300ms ease-in;
transform:scale(1.1);
} 



div#menu3:not(:hover) { 
transition:200ms ease-in;
transform:scale(1);
} 

div#menu3:hover { 
    background: #ffffff1f;
cursor:pointer;
transition:300ms ease-in;
transform:scale(1.1);
} 



div#menu4:not(:hover) { 
transition:200ms ease-in;
transform:scale(1);
} 

div#menu4:hover { 
    background: #ffffff1f;
cursor:pointer;
transition:300ms ease-in;
transform:scale(1.1);
} 


div#menu5:not(:hover) { 
transition:200ms ease-in;
transform:scale(1);
} 

div#menu5:hover { 
    background: #ffffff1f;
cursor:pointer;
transition:300ms ease-in;
transform:scale(1.1);
} 



div#menu6:not(:hover) { 
transition:200ms ease-in;
transform:scale(1);
} 

div#menu6:hover { 
    background: #ffffff1f;
cursor:pointer;
transition:300ms ease-in;
transform:scale(1.1);
} 




div#menu7:not(:hover) { 
transition:200ms ease-in;
transform:scale(1);
} 

div#menu7:hover { 
    background: #ffffff1f;
cursor:pointer;
transition:300ms ease-in;
transform:scale(1.1);
} 


div#rezervacijacon {
color:#fff;
    background: #000;
	padding: 40px;
}


div#sociallink{

color:#fff;
    background-image:url("imgs/kafafooter.jpg");
	padding: 40px;
	background-color: #000000d1;
    background-blend-mode: multiply;
}


@keyframes brojanim{

100%{
margin-top:0;
opacity:1;

}

}


div#broj {
animation:brojanim forwards 2000ms;
margin-top:-30px;
opacity:0;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 23px;
    border: 23px solid #fff;
    border-image: url(imgs/frame.png) 30 round;
    border-color: transparent;
}


img#menucapucino {
    margin-left: 0px;
    transition: 400ms ease-in;
	opacity:0;
}

img#menucapucino3 {opacity:0;
    margin-left: 0px;
    transition: 400ms ease-in;
}

img#menucapucino4 {opacity:0;
    margin-left:0px;
    transition: 400ms ease-in;
}



img#milkshake {
    margin-left: 0px;
    transition: 400ms ease-in;
	opacity:0;
}


img#menucapucino5 {opacity:0;
    margin-left:0px;
    transition: 400ms ease-in;
}

img#menucapucino6 {opacity:0;
    margin-left:0px;
    transition: 400ms ease-in;
}


div#btn a {
	transition:200ms ease-in;
    color: #fff;
    border: 2px solid;
     margin-top: 20px;
    font-size: 30px;
	font-family: -webkit-pictograph;
	background: #0000;
	color:#fff;
	text-decoration:none;
	text-align:center;
	padding:3px;
}

div#btn a:hover {
    transform:scale(1.1) rotate(10deg);
}

input {
	   font-weight: 400;
    color: #fff!important;
    width: 250px;
 background: #0000;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff0;
    border-left: 2px solid #fff0;
    border-right: 2px solid #fff0;
}

textarea{
	   font-weight: 400;
    color: #fff!important;
    width: 250px;
}


div#rowfollow {
    display: inline-flex;
    text-align: center;
    margin-top: 50px;
   
	margin-bottom: 120px;
}

img#follow {
transition:200ms ease-in;
}


img#follow:hover {
transform:scale(1.1);
}


img#follow2 {
transition:200ms ease-in;
}


img#follow2:hover {
transform:scale(1.1);
}





p#followus {    color: #fff;
opacity:0;
transition:300ms ease-in;
margin-top:-50px;
    font-size: 15px;
    font-family: -webkit-pictograph;
}


p#followusinst {    color: #fff;
  opacity:0;
transition:300ms ease-in;
margin-top:-50px;
    font-size: 15px;
    font-family: -webkit-pictograph;
}


img#sentmail {
    opacity: 1;
    transition: 300ms ease-in;
}



div#footeri {
    background: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
	    font-family: -webkit-pictograph;
}





p#nazad {
    color: #fff;
    font-family: -webkit-pictograph;
	font-weight:bold;
	
}


p#nazad:hover {
   cursor:pointer;
	
}


p#nazadmojtim {
    color: #fff;
    font-family: -webkit-pictograph;
	font-weight:bold;
	
}


p#nazadmojtim:hover {
   cursor:pointer;
	
}




p#nazad1 {
    color: #fff;
    font-family: -webkit-pictograph;
	font-weight:bold;
	
}


p#nazad1:hover {
   cursor:pointer;
	
}




p#nazad2 {
    color: #fff;
    font-family: -webkit-pictograph;
	font-weight:bold;
	
}


p#nazad2:hover {
   cursor:pointer;
	
}



p#nazad3 {
    color: #fff;
    font-family: -webkit-pictograph;
	font-weight:bold;
	
}


p#nazad3:hover {
   cursor:pointer;
	
}





p#nazad4 {
    color: #fff;
    font-family: -webkit-pictograph;
	font-weight:bold;
	
}


p#nazad4:hover {
   cursor:pointer;
	
}



p#nazad5 {
    color: #fff;
    font-family: -webkit-pictograph;
	font-weight:bold;
	
}


p#nazad5:hover {
   cursor:pointer;
	
}



p#utisak a {
    font-size: 20px;
    float: left;
    padding: 10px;
	font-family:webkit-pictograph;
	color:#fff;
	transition:400ms ease-in;
}

p#utisak a:hover {
   transform:scale(1.04);
   cursor:pointer;
	
}


#demo {
    font-size: 20px;
    float: right;
    padding: 10px;
	font-family:webkit-pictograph;
}

span{

color:#fff;
font-size:13px;
}


#about a {
	margin-left: 20px;
    float: right;
	color:#fff;
font-size:15px;
text-decoration:none;
transition: 5000ms ease-in;
}
#radno a {
	margin-left: 20px;
    float: right;
	color:#fff;
font-size:15px;
text-decoration:none;
transition: 5000ms ease-in;
}

#kontakt a {
    margin-left: 20px;
    border: 2px solid #fff;
    float: right;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    transition: 5000ms ease-in;
    padding: 3px;
	font-weight:700;
	border-radius:4px;
}




#about a:hover {
	
font-size:17px;

}
#radno a:hover {

font-size:17px;

}




div#onama {
    margin-left: -200px;
    background: #b2af1abf;
    border-radius: 10px;
    padding: 40px;
    color: #fff;
    font-weight: 700;
    height: 440px;
    width: 362px;
    opacity: 0;
    transition: 600ms ease-in;
}



div#onama.skreni2 {
    margin-left: 0px;
    background: #b2af1abf;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    height: 440px;
    width: 362px!important;
    opacity: 1;
    transition: `1800ms ease-in;
}



div#onamadiv {
	z-index: 111;
    height: 750px;
    color: #fff;
    background: url(imgs/onama.jpg);
    padding: 95px;
    transform: scale(1.03);
    background-position-x: 0px;
    transition: 5000ms ease-in;
box-shadow:inset 0 0 0 1000px #0000007a
}



div#onamadiv.skreni {
   
    background-position-x: 17px;

}




div#onamaslika {
	 padding: 55px;
    background: url(/imgs/onama.jpg);
}


div#okvir {
    overflow: hidden;
}



div#radnovreme {
   
color: #fff;}

h2#followtitle {
    font-size: 27px;
    color: #fff;
    margin-top: 120px;
    text-align: center;
}


#map {
        height: 100%;
      }


div#kakodonas {    height: 400px;
    background: #000;
}



img#share {
    margin-top: 60px;
    position: absolute;

}


div#mojtimmain {
	display: -webkit-box;

    margin: 10px;
    height: 250px;
    border: 2px solid #fff;
}


div#frame {    filter: grayscale(0.7);
	border-radius:5px;
	box-shadow: inset 0 0 0 1000px #00000038;
	    overflow: hidden;
    background: url(imgs/Milan.jpg);
    width: 220px;
    height: 220px;
    border: 2px solid #fff;
        margin: 13px;
		  background-size: cover;
	transition:500ms ease-in;
		
}


div#frame1{ 
    filter: grayscale(0.7);
   background-size: 100% 100% !important;
	border-radius:5px;
	box-shadow: inset 0 0 0 1000px #00000038;
	    overflow: hidden;
    background: url(imgs/Vlada.jpg);
    width: 212.5px;
    height: 220px;
    border: 2px solid #fff;
    margin: 13px;transition:500ms ease-in;
}

div#frame2 {    
    filter: grayscale(0.7);
background-size: 100% 100% !important;
	border-radius:5px;
	box-shadow: inset 0 0 0 1000px #00000038;
	    overflow: hidden;
    background: url(imgs/Marina.jpg);
   width: 212.5px;
    height: 220px;
    border: 2px solid #fff;
    margin: 13px;transition:500ms ease-in;
}
div#frame3 {    
    filter: grayscale(0.7);
background-size: cover;
	border-radius:5px;
	box-shadow: inset 0 0 0 1000px #00000038;
	    overflow: hidden;
    background: url(imgs/dragisa.jpg);
   width: 212.5px;
    height: 220px;
    border: 2px solid #fff;
    margin: 13px;
	transition:500ms ease-in;
}




div#frame:hover {    filter: grayscale(0);
	    transform: scale(1.05);
	cursor:pointer;
	    box-shadow: inset 0 0 0 1000px #0000008c;
		
}


div#frame1:hover{ cursor:pointer;
    filter: grayscale(0);
      transform: scale(1.05);
	    box-shadow: inset 0 0 0 1000px #0000008c;
}

div#frame2:hover {    cursor:pointer;
    filter: grayscale(0);
    transform: scale(1.05);
	    box-shadow: inset 0 0 0 1000px #0000008c;
}
div#frame3:hover {  cursor:pointer;  
    filter: grayscale(0);
    transform: scale(1.05);
	    box-shadow: inset 0 0 0 1000px #0000008c;
}


h2#pokrece {
    margin-top: -16px;
    font-size: 19px;
    font-style: italic;
    color: #fff;
    text-align: center;
}

p#milan{ opacity:0;  
margin-top: 100px;
    color: #fff;
    width: 140px;
    background: #00000091;
    margin-left: -140px;
	transition:450ms ease-in;
	 padding:3px;
	 font-size:17px;
	 text-align:center;
	 
}


p#sef {  padding:3px;
 width: 140px;
    background: #00000091;
    margin-left: -140px;
    color: #fff;
		transition:550ms ease-in;
		opacity:0; 
		font-size:16px;
	 text-align:center;
}







p#milan.pojavi{ 
opacity:1;  

   
    margin-left: 30px;
}


p#sef.pojavi1 {  

  opacity:1; 
    margin-left: 30px;

}





p#milan1{ opacity:0;  
margin-top: 100px;
    color: #fff;
    width: 140px;
    background: #00000091;
    margin-left: -140px;
	transition:450ms ease-in;
	 padding:3px;
	 	 font-size:17px;
	 text-align:center;
}


p#sef1 {  padding:3px;
 width: 140px;
    background: #00000091;
    margin-left: -140px;
    color: #fff;
		transition:550ms ease-in;
		opacity:0; 
			 font-size:16px;
	 text-align:center;
}






p#milan1.pojavi2{ 
opacity:1;  

   
    margin-left: 30px;
}


p#sef1.pojavi12 {  

  opacity:1; 
    margin-left: 30px;

}





p#milan2{ opacity:0;  
margin-top: 100px;
    color: #fff;
    width: 140px;
    background: #00000091;
    margin-left: -140px;
	transition:450ms ease-in;
	 padding:3px;
	 font-size:17px;
	 text-align:center;
	 }


p#sef2 {  padding:3px;
 width: 140px;
    background: #00000091;
    margin-left: -140px;
    color: #fff;
		transition:550ms ease-in;
		opacity:0;
	 font-size:16px;
	 text-align:center;
		
}



p#milan2.pojavi3{ 
opacity:1;  

   
    margin-left: 30px;
}


p#sef2.pojavi13 {  

  opacity:1; 
    margin-left: 30px;

}



p#milan3{ opacity:0;  
margin-top: 100px;
    color: #fff;
    width: 140px;
    background: #00000091;
    margin-left: -140px;
	transition:450ms ease-in;
	 padding:3px;
	 
	 	 font-size:17px;
	 text-align:center;
	 
}


p#sef3 {  padding:3px;
 width: 140px;
    background: #00000091;
    margin-left: -140px;
    color: #fff;
		transition:550ms ease-in;
		opacity:0;
	 font-size:16px;
	 text-align:center;		
}



p#milan3.pojavi4{ 
opacity:1;  

   
    margin-left: 30px;
}


p#sef3.pojavi14 {  

  opacity:1; 
margin-left: 30px;}


#scroll {
    z-index: 99999999999999;
    background: url(imgs/scrollimg.png);
    opacity: 0;
    width: 100px;
    height: 100px;
    margin-left: 1160px;
    position: fixed;
    background-size: contain;
    margin-top: 510px;
    transition: 300ms ease-in;
}

#scroll:hover {
 cursor:pointer;
}

#scroll.pojaviti{
 cursor:pointer;	
opacity:1;
}
	
